header {
  background-color: black;
  color: #F6CF28;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100px;
  justify-content: center;

}

header a {
  text-transform: uppercase;
  text-align: center;
  font-size: xx-large;
  padding-top: 30px;
  font-weight: bolder;
}

header img {
  height: 80px;
  padding: 10px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  header {
    color: white;
  }


}
