<div class="pokemon-grid">
  <div class="box"
       *ngFor="let pokemon of pokemons | paginate:{itemsPerPage:30,currentPage:page,totalItems:totalpokemons}"
  >
    <img  [src]="pokemon.sprites.front_default" alt="Pokemon face">
    <h2>{{pokemon.name}}</h2>
    <p> <b>Order:- </b> {{pokemon.order}}</p>
    <p> <b>Type:- </b> {{pokemon.types[0].type.name}}</p>
    <p> <b>Health:- </b> {{pokemon.order}}</p>
    <p> <b>Power:- </b> {{pokemon.order}}</p>
    <p> <b>Weight:- </b> {{pokemon.weight}}</p>
  </div>
</div>
<pagination-controls></pagination-controls>
